#teaching_activity
    %p= @teaching_activity.name
    %p= @teaching_activity.date
    %p= @teaching_activity.ta1
    %p= @teaching_activity.ta2
    %p= @teaching_activity.ta3
    %p= @teaching_activity.ta4